.margin-left-10{
  margin-left: 10px;
}

ul.techList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.techList li{
background: #f8f8f8;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 10px;
padding: 8px 13px;
font-weight: 500;
}

ul.techList.error li{
  color: #de1d1d;
  border: 1px solid red;
  background: #ff00000d;
}

ul.techList.completed li{
  color: #28a745;
  border: 1px solid #28a745;
  background: #28a7450f;
}

.scroll-box-size-sm{
  height: 260px;
  overflow-y: scroll;
}

.scroll-box-size-md{
  height: 500px;
  overflow-y: scroll;
}

.scroll-box-size-lg{
  height: 260px;
  overflow-y: scroll;
}

.custom-card-style{
  height: 338px;
}

.custom-img-style{
height: 200px;
width: 100%;
}
