<div class="m-5">
  <h2>Pluck Operator</h2>
  <br>
  <div class="row">
    <div class="col-md-6">
      <strong>Example 1</strong>
      <br>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Pluck: </strong> 'Video '+ data
      </p>
      <hr>
      <div class="scroll-box-size-sm">
        <ul>
          <li *ngFor="let item of techList">
            {{item}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Example 2</strong>
      <br>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Pluck: </strong> MeasureCode
      </p>
      <hr>
      <div class="scroll-box-size-sm ">
        <ul>
          <li *ngFor="let item of nameList">
            {{item}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
