<div class="m-5">
  <h2>ToArray</h2>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Add Video</div>
        <div class="card-body">
          <button #startBtn class="btn btn-primary btn-dark mr-3" (click)="startBroadcasting()">Start</button>

          <button #stopBtn class="btn btn-primary btn-dark mr-3" (click)="stopBroadcasting()">Stop</button>

          <button #stopBtn class="btn btn-primary btn-dark" (click)="clearList()">Clear</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul>
            <li *ngFor="let item of videoList">
              <!-- {{item}} -->
              {{item.color}}: {{item.value}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
